{{#each lists as |list|}}
  {{log list}}
  <section data-id="{{list._id}}">
    <h6>Title:</h6>
    <h3>
      {{list.title}}
    </h3>
    <h6>Description:</h6>
    <p>
      {{list.description}}
    </p>
    <br>
    <button class="btn btn-danger" data-id="{{list._id}}">Delete List</button>
    <br>
    <p>Update list</p>
    <form class='form' data-id="{{list._id}}">
      <input required placeholder="Title" type="text" name="list[title]">
      <input required placeholder="Description" type="text" name="list[description]">
      <button class="btn btn-primary" type='submit'>Update List</button>
    </form>
  </section>
{{/each}}
